body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --color-green: #2e7c31;
  --color-green-light: #60ac5d;
  --color-light-background:#f1ecec;
}
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body{
  padding:0;
  margin:0;
  box-sizing: border-box;
  background-color:aliceblue;
}